# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.env.*
.pytest_cache/

# Byte-compiled / optimized / DLL files
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtualenv
venv/
ENV/
env/

# VSCode
.vscode/

# Mac
.DS_Store

# Docker
docker-compose.override.yml
*.log

# Misc
coverage.xml
htmlcov/
